@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 50px
}

.expense-name-form {
    display: flex;
    flex-direction: column;
    width: 15%
}

.amount-form {
    display: flex;
    flex-direction: column;
    width: 15%;
}

#btn-add {
    width: 15%;
    height: 15%;
    align-self: flex-end;
}

#expense-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#error-message {
    color: red;
    display: none;
    align-self: flex-end;
}